.slider {
  background-image: url("../files/images/specialty-bg.png");
  color: #ffffff;
}
.slide .slide-title {
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 11px;
  letter-spacing: 0.5em;
}
.specialties-container {
  display: flex;
  justify-content: center;
}
.specialties-picture {
  background-image: url("../files/images/rectangle.png");
  background-repeat: round;
  background-size: cover;
  width: 40%;
  height: 400px;
}
.specialties-info {
  width: 40%;
}
.specialties-info .specialties-info-title {
  text-transform: uppercase;
  font-size: 33px;
}
.specialties-info p {
  font-size: 13px;
}
.specialties-first-p {
  font-weight: bold;
}