.delicious-menu {
  
}
.delicious-menu h5 {
  font-size: 33.55px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}
.delicious-menu p {
  font-weight: bold;
  font-size: 16.77px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.delicious-menu .categories {
  display: flex;
  justify-content: center;
}
.delicious-menu .categories-item {
  padding: 10px 20px;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.delicious-menu .categories a {
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11.18px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}