body {
  margin: 0;
}

.main {
  background-image: url("../files/images/header-bg.png");
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 11.1823px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav a:hover {
  color: #FFFFFF;
}

.nav .nav-item {
  padding: 50px 3%;
}

.nav .nav-img {
  padding-top: 3%;
}

.nav .nav-img img {
  width: 75px;
}

.timer {
  background-color: #C4C4C4;
  opacity: 0.5;
  width: 100px;
  text-align: center;
}

.main-content {
  display: flex;
  text-align: center;
  margin-top: 7%;
  justify-content: space-evenly;
}

.main-content .time-table {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 9px;
  width: 20%;
  padding-top: 8%;
  vertical-align: bottom;
  text-align: left;
}

.main-content .name p {
  font-size: 11.18px;
}

.main-content .name h1 {
  font-size: 70px;
  margin: 10px;
}

.main-btns {
  display: flex;
  justify-content: center;
}

.main-btns button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.5) 0.5px solid;
  color: #FFFFFF;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  margin: 15px;
  padding-top: 10px;
}
.main-btns button:active, .main-btns button:focus {
  outline: none;
}

.decoration {
  height: 3px;
  width: 40px;
  background-color: #E8C300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.main-chosen-btn button {
  background-color: #E8C300;
}

.social-networks {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social-networks div {
  padding: 13px 7px;
  border: rgba(255, 255, 255, 0.5) 0.5px solid;
  border-radius: 100%;
  margin-top: 15px;
  margin-left: 45%;
  width: 30px;
}

.social-networks div img {
  width: 15px;
}

.social-networks .fb_icon {
  width: 7px;
}

.social-networks .inst_icon {
  width: 13px;
}

.scroll-bottom-border {
  border: rgba(255, 255, 255, 0.5) 0.5px solid;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding-left: 5px;
  padding-top: 5px;
  margin: 40px auto 0 auto;
}

.scroll-btn {
  background-color: #FFFFFF;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.scroll-btn div {
  background-color: #000000;
  height: 1.5px;
  width: 6px;
  position: relative;
}

.scroll-btn .arrow-1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
  left: 5px;
}

.scroll-btn .arrow-2 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
  left: 8px;
}

.booking {
  padding: 40px;
  background-color: #FFFFFF;
  text-align: center;
}

.booking-form-container {
  display: flex;
  justify-content: center;
}

.booking-form {
  text-transform: uppercase;
}

.booking-form h2 {
  margin-top: 100px;
  margin-bottom: 10px;
}

.booking-form form {
  margin-top: 10px;
}

.booking-form form input {
  background-color: #E5E5E5;
  color: rgba(51, 51, 51, 0.5);
  border: 0;
  border-radius: 4px;
  width: 44%;
  height: 20px;
  padding: 10px;
  margin: 5px 2px;
}

.booking-form form .form-button {
  width: 450px;
  text-transform: uppercase;
  background-color: #E8C300;
  color: #FFFFFF;
  padding: 10px 0;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 9px;
  margin-top: 5px;
}
.booking-form form .form-button:active, .booking-form form .form-button:focus {
  outline: none;
}

.booking-watch {
  margin-top: 50px;
  height: 350px;
  width: 375px;
  background-image: url("../files/images/about-img.png");
  background-size: cover;
  background-repeat: round;
}

.yellow-square {
  width: 60%;
  height: 250px;
  position: relative;
  left: 40%;
  top: 18%;
}

.specialties {
  background-image: url("../files/images/specialty's-bg.png");
}

/*# sourceMappingURL=style.css.map */
